/* FILEPATH: /c:/Users/daiwi/OneDrive/Documents/3Rd Sem/projects/PESUguessr/screens/client/src/pages/signup.css */

/* Copy the contents of login.css and make modifications for signup page */

/* Styles for the signup form container */


/* Styles for the signup form */
.signup-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center
}

/* Styles for the form inputs */
.signup-form input {
  width: 300px;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border:transparent;
  border-radius: 5px;
  background-color: #333; /* Set the background color to a darker shade */
  color: #fff;
}

/* Styles for the submit button */

.signup-form label{
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  text-align: left;
}
.signup-form button {
  cursor: pointer;
  border: 0;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 300px;
  padding: 10px 10px;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.signup-form button:hover {
  color: white;
  width:;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);

}



/* Styles for the error message */
.signup-form .error-message {
  color: red;
  margin-bottom: 10px;
}
